@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MyService>
@using EntityLayer.Concrete
@foreach (var x in Model)
{

    <div class="col-lg-4 service-in text-center">
        <div class="card">
            <div class="card-body">
                <i class="far fa-heart mb-4"></i>
                <h5 class="card-title">@x.ServiceName</h5>
                <p class="card-text">@x.ServiceDescription</p>
            </div>
        </div>

    </div>
}
